.n-wrapper {
    font-family: poppins;
    background: var(--black);
}
.n-container {
    padding: 1rem 5rem;
    justify-content: space-between;
    display: flex;
}
li {
    list-style: none;
}
.logo {
    color: var(--white);
    font-weight: 400;
    font-family: 'Young Serif';
    font-size: 2.3rem;
    position: relative;
    text-transform: uppercase;
}
.in-form {
    position: absolute;
}
.nav-links a  {
    text-decoration: none;
    color: var(--white);
    transition: 0.5s ease-in;
}
.nav-links a:hover {
    color: var(--crimson);
}
.nav-links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.menu {
    display: none;
}
.search, .menu {
    color: var(--white);
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: 0.5s ease-in;
}
.search:hover, .menu:hover {
    color: var(--crimson);
}
.upper {
    color: var(--crimson);
    position: absolute;
    right: -1rem;
    top: -0.3rem;
    font-size: 1.1rem;
}
.nav-links .active {
    color: var(--crimson);
}
@media (max-width: 1024px) {
    .n-container {
        padding: 1rem 2rem;
    }
    @media (max-width: 928px) {
        .menu {
            display: block;
        }
        .nav-links {
            position: absolute;
            width: 100%;
            flex-direction: column;
            background: var(--black);
            padding: 2rem 0;
            left: 0;
            top: 3rem;
            gap: 0;
            z-index: 999;
            transition: 0.5s;
        }
        
        .nav-links  a {
            width: 100%;
            padding: 0.3rem 2rem;
            transition: 0.5s ease-in;
        }
        
        .nav-links a:hover {
            color: var(--black);
            background: var(--white);
        }
        .search, .menu {
            font-size: 1.4rem;
            margin-top: 1.2rem;
        }
        @media (max-width: 500px) {
            .n-container {
                padding: 1rem;
            }
            .logo {
                font-size: 1.5rem;
            }
            .search, .menu {
                font-size: 1.3rem;
                margin-top: 0;
            } 
        }
    }
}